@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* --accent: #ded3ff; */
  /* --accent: #e8e3f6; */
  --accent: #fff9cf;
  --accent-bold: #ffe52f;
  --accent-highlight: #fffbeb; /* amber-50 */
  --accent-highlight-hover: #fde68a /* amber-200 */;
  --accent-400: #a8a698;

  /* Green */
  --accent: #d5f3d3;
  --accent-bold: #61bd67;
  --accent-highlight: #eefaed;
  --accent-highlight-hover: #bbe6b8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
  line-height: 1.4;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.25rem;
}

@layer components {
  body {
    @apply font-sans;
  }

  .eyebrow {
    @apply text-base uppercase font-sans;
  }

  .gridWrapper {
    @apply flex flex-col items-center md:items-start md:grid md:grid-cols-5 xl:grid-cols-7 md:gap-x-10 max-w-screen-2xl mx-auto gap-y-4;
  }

  .gridColSpanContent {
    @apply xl:col-start-2 md:col-span-5;
  }

  .gridLeftCol {
    @apply md:col-span-2 xl:col-start-2;
  }

  .gridRightCol {
    @apply md:col-span-3;
  }

  .rich_text_formatting p,
  .rich_text_formatting blockquote,
  .rich_text_formatting ul,
  .rich_text_formatting ol {
    @apply mb-6;
  }

  .rich_text_formatting > :last-child {
    @apply mb-0;
  }

  .rich_text_formatting h4 {
    @apply eyebrow mb-2;
  }

  .rich_text_formatting blockquote {
    @apply border-4 border-accent px-6 py-5 rounded-3xl text-lg;
  }
}
