@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-100: #fffbeb;
  --accent-200: #fff9cf;
  --accent-300: #fde68a;
  --accent-400: #ffe52f;

  /* Green */
  --accent-100: #eefaed;
  --accent-200: #d5f3d3;
  --accent-300: #bbe6b8;
  --accent-400: #61bd67;
  --accent-500: #18a021;
  --accent-600: #7f8e7e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 16px;
  line-height: 1.5;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.5rem;
}

.h3 {
  font-size: 1.25rem;
}

@layer components {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-sans;
  }

  .eyebrow {
    @apply text-sm uppercase font-sans;
  }

  .callout_box {
    @apply border-4 border-accent-200 px-5 py-4 rounded-3xl;
  }

  .gridWrapper {
    @apply flex flex-col items-center md:items-start md:grid md:grid-cols-5 xl:grid-cols-7 md:gap-x-5 max-w-screen-2xl mx-auto gap-y-4;
  }

  .gridColSpanContent {
    @apply xl:col-start-2 md:col-span-5;
  }

  .gridLeftCol {
    @apply md:col-span-2 xl:col-start-2;
  }

  .gridRightCol {
    @apply md:col-span-3;
  }

  .sidebar_grid_wrapper {
    @apply flex flex-col items-center justify-center min-h-screen gap-y-4 sm:ml-56;
  }

  .sidebar_grid {
    @apply flex flex-col items-center lg:items-start lg:grid lg:grid-cols-8 xl:grid-cols-10 xl:max-w-screen-xl lg:gap-x-5 mx-auto gap-y-4;
  }

  .sidebar_grid_span_8 {
    @apply lg:col-span-8 lg:col-start-1 xl:col-start-2;
  }

  .sidebar_grid_span_6 {
    @apply lg:col-span-6 lg:col-start-2 xl:col-start-3;
  }

  .sidebar_grid_left_column {
    @apply lg:col-span-3 lg:col-start-1 xl:col-start-2;
  }

  .sidebar_grid_right_column {
    @apply lg:col-span-5 lg:col-start-4 xl:col-start-5;
  }

  .reference_highlight {
    @apply uppercase text-base bg-accent-100 px-0.5 py-px rounded mx-px hover:bg-accent-300 transition-colors;
  }

  .rich_text_formatting.sm\:text-lg\/normal .reference_highlight {
    @apply sm:py-0.5;
  }

  .rich_text_formatting p,
  .rich_text_formatting blockquote,
  .rich_text_formatting ul,
  .rich_text_formatting ol {
    @apply mb-6;
  }

  .rich_text_formatting ul,
  .rich_text_formatting ol {
    @apply pl-8;
  }

  .rich_text_formatting ul {
    @apply space-y-0.5;
  }

  .rich_text_formatting ul li:before {
    content: "•";
    @apply inline-block w-5 -ml-5;
  }

  .rich_text_formatting ol {
    @apply space-y-1.5;
    counter-reset: item;
  }

  .rich_text_formatting ol li:before {
    counter-increment: item;
    content: counter(item) ".";
    @apply inline-block w-6 -ml-6;
  }

  .rich_text_formatting > :last-child {
    @apply mb-0;
  }

  .rich_text_formatting h4 {
    @apply eyebrow mb-2;
  }

  .rich_text_formatting blockquote {
    @apply callout_box text-lg/snug;
  }
}
